[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyterlab = "==4.0.0a4"
altair = "*"
nb-black = "*"
altair-latimes = "*"

[dev-packages]

[requires]
python_version = "3.8"
